<!-- specialities Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].specialities.section | default: "specialities" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].specialities.title | markdownify | default: "Specialities" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].specialities.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.specialities %}
      <div class="col-md-4 col-sm-6 specialities-item">
        <a class="specialities-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="specialities-hover">
            <div class="specialities-hover-content">
              <i class="{{ site.data.style.specialities-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ example.caption.thumbnail }}" alt="">
        </a>
        <div class="specialities-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% include modals.html %}